<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">

    <script>
    let soundEnabled = false;

    function enableSound() {
        let audio = document.getElementById("alertSound");
        audio.play().then(() => {
            audio.pause();
            audio.currentTime = 0;
            soundEnabled = true;
            document.getElementById("soundBtn").innerText = "Sound Enabled ✅";
        }).catch(e => console.log(e));
    }

    function playSound() {
        let audio = document.getElementById("alertSound");
        audio.currentTime = 0;
        audio.play().catch(e => console.log(e));
    }

    window.onload = function() {
        if (document.querySelector(".alert-box")) {
            setTimeout(playSound, 500);
        }
        setInterval(() => location.reload(), 30000);
    }
    </script>
</head>

<body>
<div class="container">

    <audio id="alertSound" preload="auto">
        <source src="/static/alert.mp3" type="audio/mpeg">
    </audio>

    <button id="soundBtn" onclick="enableSound()">Enable Sound 🔊</button>

    <h2>Welcome {{ user }}</h2>
    <p style="text-align:center; font-size:18px;">
    🕐 Current Time: <b>{{ current_time }}</b>
    </p>

    <a href="/stats">📊 View Statistics</a> |
    <a href="/logout">Logout</a>

    <hr>

    <h3>Add Medicine</h3>
    <form method="POST" action="/add">
        <input name="name" placeholder="Medicine Name" required>
        <input name="time" type="time" required>
        <input name="date" type="date">

        <br>
        <label>Recurring:</label>
        <select name="recurring">
            <option value="no">One Time Only</option>
            <option value="daily">Every Day 🔁</option>
        </select>

        <button type="submit">Add</button>
    </form>

    <hr>

    <h3>Your Medicines</h3>
    <ul>
    {% for m in meds %}
        <li>
            <div>
                <b>{{ m.name }}</b> - {{ m.time }} - {{ m.date }}
                
                {% if m.recurring == "daily" %}
                    🔁 Daily
                {% endif %}

                {% if m.status == "taken" %}
                    ✅ Taken
                {% elif m.status == "missed" %}
                    ❌ Missed
                {% else %}
                    ⏳ Pending
                {% endif %}

                {% if m.alert == "NOW" %}
                    <div class="alert-box" style="background:red; color:white; padding:10px; margin-top:5px; border-radius:8px;">
                        🔔 <b>TAKE MEDICINE NOW!</b>
                    </div>
                {% endif %}
            </div>

            <div>
                <a href="/take/{{ loop.index0 }}">✔ Taken</a>
                <a href="/miss/{{ loop.index0 }}">❌ Missed</a>
                <a href="/delete/{{ loop.index0 }}">🗑 Delete</a>
            </div>
        </li>
    {% endfor %}
    </ul>

</div>
</body>
</html>