<!DOCTYPE html>
<html>
<head>
    <title>Doctor Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>👨‍⚕️ Doctor Register</h2>

    <form method="POST">
        <input name="username" placeholder="Doctor Name" required>
        <br>
        <input name="password" type="password" placeholder="Password" required>
        <br>
        <button type="submit">Register</button>
    </form>

    <p style="text-align:center;">
        Already have account? <a href="/doctor/login">Doctor Login</a> | 
        <a href="/">← Home</a>
    </p>
</div>
</body>
</html>